body {
    background-color: rgb(41,41,41);
    
  }
 .section1 {
  width: 100vw;
  height: 54vw;
  display: flex;
  position: relative;
 }
 .letter1 {
  width:67vw;
  height:50vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: -1;
 }
 .firstp {
  width: 41vw;
  height: 4vw;
  position: absolute;
  margin-top: 17vw;
  left: 35%; 
  color: white;
  font-size: 3vw;
  font-family:"bitter";
 }
 /* .textfirst {
  width: 19vw;
  height: 15vw;
  margin-top: 33vw;
  position: absolute;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  font-family:"bitter";
  color: black;
  font-size: 2vw; */

  /* .h2 {
    display: flex;
    
  }
.form-container {
  width: 50vw;
  margin-top: 25vw;
  position: absolute;
  left: 24%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  font-family:"bitter";
  color: black;
  font-size: 2vw;
}
.form-group {
  margin-bottom: 15px;
}
button {
  padding: 10px 15px;
  background-color: #834c4c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #834c4c;
} */

.form-container {
  width: 24vw;
  height: 24vw;
  margin: 0 auto;
  padding: 2vw;
  text-align: center;
  margin-top: 25vw;
}
.form-group {
  margin-bottom: 1vw;
}
button {
  padding: 1vw 2vw;
  background-color: #d45151;
  color: white;
  border: none;
  border-radius: 0,4vw;
  cursor: pointer;
}
button:hover {
  background-color: #d45151;
}
#message {
  margin-top: 2vw;
  font-weight: bold;
}
/* -------------------------------- */
/* .rectangle {
  width: 63vw;
  height: 38vw;
  background-color: #4CAF50; 
  display: none; 
  justify-content: center;
  align-items: center;
  position: relative;
  color: rgb(255, 0, 0); 
  padding: 20px; 
  text-align: center; 
} */
 .section2 {
  height: 56vw;
  display: flex;
  flex-direction: column;
 }
.secondp {
  left: 50%;
  font-size:5vw ;
  margin-left: 22vw;
  color: white;
  font-family: "bitter";
  margin-top: 4vw;
}
.platya {
  width: 70vw;
  height: 53vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  margin-left: 15vw;
  margin-top: 2vw;
  style: cursor;
}

.red-border {
    border: 5px solid red; 
}
.section3 {
  height: 58vw;
  display: flex;
  
 }
.tittle {
  height: 4vw;
  font-size: 5vw;
  font-family: "bitter";
  color: white;
  margin-left: 28vw;
  margin-top: 14vw;
}
.portret {
  margin-left: 8vw;
  margin-top: 19vw;
  width: 36vw;
  height: 46vw;
}
.rectangles {
  width: 34vw;
  height: 47vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 54vw;
  margin-top: 5vw;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}